body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.App {
  
}

.search-section {
  background: red;
}

.map-section {
  background: blue;
}



@media (min-width: 450px) {
  .App {
    display: flex;
    flex-wrap: wrap;
    background: #000;
  }

  .search-section {
    width: 30%;
  }
  
  .map-section {
    width: 70%;
  }
  
}


