html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  
}

.search-section {
  background: red;
}

.map-section {
  background: blue;
  height: 100%;
}

#map {
  height: 100%;
}




/* @media (min-width: 450px) {
  .App {
    display: flex;
    flex-wrap: wrap;
    background: #000;
  }

  .search-section {
    width: 30%;
  }
  
  .map-section {
    width: 70%;
  } */
  
}


