html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  
} 

.search-section {
  background: rgb(85, 72, 72);
  padding: 0.5em 0.8em 1em 0.5em ;
  color: #fff;
  font-family: Arial, sans-serif;
  /* font-size: 1.2em; */
}

.map-section {
  background: blue;
  height: 100%;
}

.map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.venuesvenues {
  padding: 0;
}

.venues ul li {
  list-style: none;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
  padding: 0 0 1em 0;
}

.venues ul li:hover {
  /* display: block; */
  background: #222
}

.venues input {
  width: 100%;
  height: 30px;
  border: none;
  padding: 0.2em;
}

.err {
  background: #933;
  padding: 1em;
  color: #fff;
  font-weight: 400;
  font-size: 0.9em;
}

@media (min-width: 450px) {
  .App {
    display: flex;
    flex-wrap: wrap;
    background: #000;
  }

  .search-section {
    width: 18%;
  }
  
  .map-section {
    width: 80%;
  } 
 }


